<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title> Update Job </title>
</head>
<body>
    <div class="l_form">
        <h2>  Update Job </h2>

        <form action="/update_job/{{ this_job.id }}/{{ comp_id }}" method="POST">

            <label for="name" > Enter Job Title </label> 
            <input id="name" type="text" name="job_title" value="{{ this_job.job_title }}">

            <label for="email"> Enter job Description </label> 
            <input id="email" type="text" name="job_desc" value="{{ this_job.job_description }}"> 

            <label for="elig"> Enter Eligibility </label> 
            <input id="elig" type="text" name="elig" value="{{ this_job.eligibility }}">
            
            <label for="sal"> Enter Salary </label> 
            <input id="sal" type="text" name="sal" value="{{ this_job.salary }}"> 
            
            <label for="loca"> Enter Location </label> 
            <input id="loca" type="text" name="loca" value="{{ this_job.location }}">

            <input class="btn" type="submit" value="Update Job">
        </form>

    </div>
</body>
</html>